h1 {text-align: center;}
h1 {font-family: sans-serif;}

p {text-align: justify;}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a:link,a:visited
{
width:240px;
font-family: sans-serif;

text-align:center;
text-transform:uppercase;
}

li
{
	display: inline;
}

